/* @tailwind base;
@tailwind components;
@tailwind utilities; */
    
@import url("http://fonts.cdnfonts.com/css/basier-square-narrow");

.text-outline{
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
 }

.bgimage {
    object-fit: cover;
}

.textover {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.header {
    position: relative;
}

.circle2 {
    width: 100px;
    height: 100px;
}

.quote,
.quote2 {
    font-family: "Basier Square Narrow", "sans-serif";
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
