/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*Import Font*/
@import url("http://fonts.cdnfonts.com/css/basier-square-narrow");
@import url('https://fonts.cdnfonts.com/css/florentia');
@import url('http://fonts.cdnfonts.com/css/my-coffee-break');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#home .text-outline {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#home .section-btn {
    margin: 32px 0 0 0;
    padding: 0;
}

#home .bgimage {
    object-fit: cover;
}

#home .textover {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#home .header {
    position: relative;
}

#home .circle2 {
    width: 100px;
    height: 100px;
}

#home .quote,
.quote2 {
    font-family: "Basier Square Narrow", "sans-serif";
}

#home video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#about .renekopilogo {
    width: 300px;
    height: 300px;
}

#about .map {
    width: 50px;
    height: 50px;
}

#about .wa, .phone,  .ig  {
    width: 100px;
    height: 100px;
}


